.NBMC {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #F5F5F5;
    color: #333333;
    .NBMCa {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        text-decoration: none;
        .NBMCai {
            height: 26px;
            width: auto;
        }
        .NBMCait {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .NBMCb {
        display: flex;
        gap: 28px;
        align-items: center;

        .NBMCba,
        .NBMCbb,
        .NBMCbc {
            text-decoration: none;
            color: #000;
            font-size: 14px;
            cursor: pointer;
        }

        .NBMCba {
            display: none;
            cursor: pointer;
        }
    }
}

.NBMCda {
    display: flex;
    gap: 150px;
    align-items: center;
}

.NBMCdb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .NBMCd {
        text-decoration: none;
        font-size: 16px !important;
        color: #000;
    }
}

@media screen and (max-width: 480px) {
    .NBMCba {
        display: unset !important;
        color: #000;
    }

    .NBMCbb,
    .NBMCbc {
        display: none !important;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}